body {
  background-color: yellow;
}

#logo {
  display: flex;
  height: 500px;
  width: 500px;
  border: 5px black solid;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: flex;
  font-size: 250px;
  margin: 0;
  align-items: flex-end;
  justify-content: flex-end;
}
